.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left:5px;
    margin-right:5px;
}

.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -150px;
}

@media (max-width: 460.98px) {
    

    .home__row {
        flex-direction: column;
        width: 84.5%;
    }

    .home__image {
        width: 100%;
    }

    .home__queryTop {
        margin-top: 5rem;
    }

}

@media (max-width: 375px) {

    .home__row {
        width: 94.5%;
    }

    .home__image {
        max-width: 375px;
    }

}